{% extends 'SProvider/design1.html' %}
{% block researchblock %}

<div class="page-header text-center">
  <h2>Trends Ratio Chart</h2>
  <p class="subtitle">Sequential Evolution & Topic Distribution Analysis</p>
</div>

<div class="chart-card">
  <div id="chartContainer" class="chart-wrapper" style="height: 400px; width: 100%;"></div>
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
     window.onload = function () {

          var chart = new CanvasJS.Chart("chartContainer", {
               animationEnabled: true,
               title: {
                    text: ""
               },
               data: [{
                    type: "line",
                    startAngle: 240,
                    yValueFormatString: "##0.00\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: [
                         {% for o in form %}
			{ y: {{ o.dcount }}, label: "{{o.names}}"},
          {% endfor %}
		]
	}]
});
     chart.render();

}
</script>

{% endblock %}