{% extends 'RUser/design.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



<style>
  body {
    background-color: #000000;
  }

  .container-fluid {
    padding: 50px;
  }

  .container {
    background-color: white;
    padding: 50px;
  }

  #title {
    font-family: 'Fredoka One', cursive;
  }

  .text-uppercase {
    font-family: 'Righteous', cursive;

  }

  .tweettext {

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color: white;
  }

  .style1 {
    color: #FF0000;
    font-weight: bold;
  }

  .style6 {
    font-size: 18px;
    color: #FFFF00;
    font-weight: bold;
  }

  .style8 {
    color: #FFFF00;
    font-weight: bold;
  }

  .style10 {
    font-size: 18px;
    color: #FF0000;
    font-weight: bold;
  }

  .style11 {
    color: #FFFF00
  }
</style>

<body>
  <div class="container-fluid">
    <div class="container">

      <div class="row">
        <div class="col-md-5">

          <form role="form" method="POST">
            {% csrf_token %}
            <fieldset>
              <p class="text-uppercase pull-center style1">PREDICTION OF <span class="style10">IDENTIFYING HOT TOPIC
                  TYPE</span> !!! </p>
              <hr>

              {% csrf_token %}
              <table width="998" align="center">
                <tr>
                  <td height="44" bgcolor="#FF0000">
                    <div align="center" class="style8">Enter Sno </div>
                  </td>
                  <td><input name="Sno" type="text" value=""></td>
                  <td bgcolor="#FF0000">
                    <div align="center"><span class="style11">Enter Post Date </span></div>
                  </td>
                  <td><input type="text" name="PDate"></td>
                </tr>
                <tr>
                  <td height="44" bgcolor="#FF0000">
                    <div align="center" class="style8">Enter Headline</div>
                  </td>
                  <td><textarea name="Headline"></textarea></td>
                  <td bgcolor="#FF0000">
                    <div align="center"><span class="style11">Enter Description</span></div>
                  </td>
                  <td><textarea name="Description"></textarea></td>
                </tr>
                <tr>
                  <td width="289" height="44" bgcolor="#FF0000">
                    <div align="center" class="style8">
                      <div align="center">Enter Source</div>
                    </div>
                  </td>
                  <td width="226"><input type="text" name="Source"></td>
                  <td width="314" bgcolor="#FF0000">&nbsp;</td>
                  <td width="273">&nbsp;</td>
                </tr>
                <tr>
                  <td height="44" bgcolor="#FFFFFF">
                    <div align="center" class="style8">
                      <div align="center"></div>
                    </div>
                  </td>
                  <td>&nbsp;</td>
                  <td bgcolor="#FFFFFF"><input name="submit" type="submit" class="style1" value="Predict"></td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </fieldset>
          </form>


          <form role="form" method="POST">
            {% csrf_token %}
            <fieldset>

              <hr>
              <div>
                <table width="549" height="52" border="0" align="center">
                  <tr>
                    <td width="308" bgcolor="#FF0000">
                      <div align="center"><span class="style6">PREDICTED HOT TOPIC TYPE</span> :: </div>
                    </td>



                    <td width="163" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy">
                      <div align="center">{{objs}}</div>
                    </td>
                  </tr>
                </table>



              </div>




            </fieldset>
          </form>
        </div>

        <div class="col-md-2">
          <!-------null------>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <tr>