{% extends 'RUser/design.html' %}
{% block userblock %}
<div class="profile-card">
  <div class="card">
    <div class="card-header">
      <h3>Your Profile Details</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="profile-detail-item">
          <span class="profile-label">User Name</span>
          <span class="profile-value">{{object.username}}</span>
        </div>

        <div class="profile-detail-item">
          <span class="profile-label">Email</span>
          <span class="profile-value">{{object.email}}</span>
        </div>

        <div class="profile-detail-item">
          <span class="profile-label">Password</span>
          <span class="profile-value">{{object.password}}</span>
        </div>

        <div class="profile-detail-item">
          <span class="profile-label">Mobile No</span>
          <span class="profile-value">{{object.phoneno}}</span>
        </div>

        <div class="profile-detail-item">
          <span class="profile-label">Country</span>
          <span class="profile-value">{{object.country}}</span>
        </div>

        <div class="profile-detail-item">
          <span class="profile-label">State</span>
          <span class="profile-value">{{object.state}}</span>
        </div>

        <div class="profile-detail-item">
          <span class="profile-label">City</span>
          <span class="profile-value">{{object.city}}</span>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}